#!/bin/sh

# scan process
java -jar /deployment/pathmap-migrator.jar scan \
 -b /opt/indy/var/lib/indy/storage/ -w /deployment/work/ \
 -f .*http-metadata.json* -t 8 -B 100000 \
 > /deployment/work/scan_status.log 2>&1 &
